<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>Over Weather | About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Aayush Shrestha. It makes use of two fantastic APIs (Mapbox and WeatherStack) to
            retrieve the latitude and longitude of an entered location, which is then used to obtain the current weather
            for that location.</p>
    </div>
    {{>footer}}
</body>

</html>