<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>Over Weather | Help</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>The method of using this app is quite straightforward. All you have to do is input a valid location and
            press the search button. And bam, you get the current weather for the location you specified.</p>
    </div>
    {{>footer}}
</body>

</html>